.test
    color: #1989fa
.memory-head
    text-align: center
    margin-bottom: 20px
    p
        font-size: 12px
        color: #666666
.memory-body
    .memoryCard
        height: 100px
        margin-bottom: 20px
        border-radius: 4px
        box-shadow: 0px 5px 20px #dcdfe6