.head-area
    background: #ffffff
.memory-head
    text-align: left
    margin-bottom: 20px
    background: #ffffff
    display: flex
    align-items: center
    height: 200px
    width: 
    .calender-area
        height: 5rem
        width: 5rem
        border-radius: 10px
        box-shadow: 0px 5px 20px #dcdfe6
        margin-right: 20px
        text-align: center
        .week-day
            font-size: 1rem
            height: 1.5rem
            background: #f44336
            color: #ffffff
            border-top-left-radius: 10px
            border-top-right-radius: 10px
            line-height: 1.5rem
        .date-day
            font-size: 3rem
            line-height: 3.5rem

    h1
        font-size: 3rem
    .no-result
        text-align: left
        width: 100%
        color: #666666
        margin-bottom: 20px
.edit-area
    margin: 20px 0px
    span
        margin-left: 10px
.memory-body
    .memoryCard
        min-height: 100px
        margin-bottom: 20px
        border-radius: 4px
        box-shadow: 0px 5px 20px #dcdfe6
        background: #ffffff
        .time, .detail
            padding: 20px
            font-size: 12px
            color: #666666
        .time
            span
                font-size: 18px
                font-weight: 600
        .operation
            text-align: right
            display: flex
            height: 100px
            justify-content: flex-end
            padding-right: 20px
            align-items: center
        .detail
            .title
                font-size: 16px
                color: #666666
            .content
                color: #999999